.card-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:space-between;
}

.contact-content{
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: space-between;
    justify-items: center;
    padding: 1rem;
}

.contact-item{
    list-style: none;
    text-align: start;
}

.button-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-size: 1.25rem;
}

.description{
    font-size: 1.5rem;
}
