.card-contact{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:space-between;
}

.contact-content{
    display: flex;
    
}

.contact-item{
    list-style: none;
    text-align: start;
}