.create-contact{
    background-color: aquamarine;
    list-style: none;
    padding: 2rem;   
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}

.form-create{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}